<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=\, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>

        <header>

            <a href="/profile/<%=userId %>">
                <h3>Profile</h3>
            </a>

        </header>

        <div>
            <a href="/questions/<%=userId %>">Questios</a>

        </div>
        <div>

            <a href="/help/<%=userId %>">help desk</a>

        </div>
        <div>
            <a href="/cafe/<%=userId %>">cafe</a>
        </div>
        <form action=" /signOut" method="POST">
            <input type="submit" value="sign out">
        </form>

    </body>

</html>
