<!DOCTYPE html>
<html lang="en">

    <head>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <meta name="google-signin-client_id"
            content="517747499003-me32d5erbvsl5j04jjc67j2cmchvmlaj.apps.googleusercontent.com">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <form action="/signin" method="POST">
            <input type="text" name="username" id="username" placeholder="username" required>
            <input type="password" name="password" id="password" placeholder="password" required>
            <input type="submit" value="login">
        </form>

        <form action="/signup" method="GET">
            <input type="submit" value="Sign Up">
        </form>




        <!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->


        <script>
            function onSignIn(googleUser) {
                var id_token = googleUser.getAuthResponse().id_token;

                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/login');
                xhr.setRequestHeader('Content-Type', 'application/json');
                console.log("xhr", xhr)
                xhr.onload = function () {
                    console.log('Signed in as: ' + xhr.responseText);
                };
                xhr.send(JSON.stringify({ token: id_token }));
            }
        </script>
    </body>

</html>
