.question-container {
  margin: 1rem auto;
  width: 50%;
  height: 100%;
}

.questions-div{
  background-image: url("../../pics/pic2.jpg");
  
  background-size:contain;
}
.filter-form {
  margin-left: 2rem;
  width: 50%;
  height: 100%;
  margin: auto;
}

.form-select {
  background: #5d0856 ;
  color: white ;
}
