.question-container {
	margin: 1rem auto;
	height: 100%;
}

.questions-div {
	background-color: white;
	width: 100%;
	background-size: contain;
}
.filter-form {
	margin-left: 2rem;
	width: 50%;
	height: 100%;
	margin: auto;
	margin-left: 35%;
	position: relative;
}

.form-select {
	color: gray;
}

.quesBtn {
	background-color: rgb(23 162 184);
	border-color: #17a2b8;
}

.quesBtn:hover {
	background-color: rgb(10, 103, 117, 1);
	border-color: #17a2b8;
}
