* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#canvas {
	border: 2px solid black;
	background-color: white;
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
z-index: 0;
}

.eraser {
	border: 2px solid black;
	width: 100px;
	background-color: blue;
	position: absolute;
	bottom: 0;
	left: 0;
	
}
.pen {
	border: 2px solid black;
	width: 100px;
	background-color: blue;
	position: absolute;
	bottom: 0;
	right: 0;
}
.pen:hover {
	cursor: pointer;
	background-color: brown;
}
.eraser:hover {
	cursor: pointer;
	background-color: brown;
}
.tools {
	display: flex;
	flex-direction: row;
}

.btn-hide-show {
	position: absolute;
	top: 0;
	right: 0;
}

.hide {
	display: none;
}
