* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(182, 179, 179);
	color: black;
}

a {
	color: black;
	text-decoration: none;
}

ul {
	list-style: none;
}

#video-grid {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 300px;
	height: 200px;
	display: flex;
	justify-content: center;
	z-index: 1;
}

#video-grid video {
	flex: 0 0 calc(50% - 1rem);
}

.questionCont {
	display: none;
}

.toggle,
.toggle2 {
	position: fixed;
	top: calc(200px + 10px);
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
}

.toggle2 {
	margin-top: 1.5rem;
}

#tableId {
	font-size: 17px;
}

#tableId {
	margin-top: 2rem;
}

.main__right {
	background-color: black;
	color: white;
	position: absolute;
	right: 0;
	top: 15%;
}

.question {
	background-color: white;
}

/* ------------------------------------------------ */
#btnbtn {
	display: none;
	top: 15%;
}
