<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Remo</title>
    </head>

    <body>

        <h1>Welcome to our remo 🗃 cafe 🗃 </h1>

        <form action="/tables/<%= userId%>/<%= tableId%>" method="GET">
            <select name="topic" id="topic">
                <option value="none">none</option>
                <option value="javascript">javaScript</option>
                <option value="node">Node</option>
                <option value="react">React</option>
            </select>
            <select name="role" id="role">
                <option value="none">none</option>
                <option value="interviewer">interviewer</option>
                <option value="interviewee">interviewee</option>
            </select>
            <input type="submit" value="get a table">
        </form>



    </body>

</html>
