* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	width: 100%;
}

.category {
	position: absolute;
	top: 0.5rem;
	left: 3rem;
	background-color: green;
	padding: 0.2rem 1rem;
	border-radius: 6rem;
}

.difficulty {
	position: absolute;
	top: 0.5rem;
	left: 10rem;
	background-color: green;
	padding: 0.2rem 1rem;
	border-radius: 6rem;
}

.answer {
	margin-top: 1rem;
}
/*============================================================================================================*/

.cafeContainer {
	display: grid;
	grid-template-columns: 3fr 0.8fr;
	grid-template-rows: 1fr;
	margin: 4% 0 0 0;
	height: 91.3vh;
	background: #fff;
}
.sideBar {
	grid-column: 2/-1;
	grid-row: 1/-1;
	background: #eee;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.sideBar button {
	width: 60%;
	background-color: #17a2b8;
    border-color: #17a2b8;
	box-shadow: none;
}
.sideBar button:hover {
	border-color: #17a2b8;
	background-color: #0b6472;
}
.sideBar button:enabled {
	border-color: #17a2b8;
	background-color: #0b6472;
	box-shadow: none;

}
.leftSide {
	grid-column: 1/2;
	grid-row: 1/-1;
}
/*=====================================================_VIEDO_======================================================*/

.viedoOnIcon {
	cursor: pointer;
	font-size: 2.5rem;
}
.viedoOffIcon {
	cursor: pointer;
	font-size: 2.5rem;
	color: darkred;
}
.jvCTkj {
	margin: 0;
	padding: 0;
	height: 91vh !important;
	width: 100%;
}
.jvCTkj video:first-child {
	/* position: absolute;
	top: 10%;
	left: 2.5%;
	height: 512px;
	width: 1114px; */
	transition: all 2s ease-in-out;

	border: 1px solid;
}
.jvCTkj video:last-child {
	/* position: absolute;
	top: 10%;
	left: 2.5%;
	height: 159px;
	width: 345px; */
	transition: all 2s ease-in-out;

	border: 1px solid;
}

/*=============================================_WHITE_BOARD_============================================*/

.shamounWB {
	position :fixed;
	top:7%; 
	background: #fff;
	width: 64%;
	margin: 0 0% 0 1.5%;
}
/*=================================================QUESTIONS===========================================*/
.shamounQU .questions-div {
	width: 79% !important;
}
.shamounQU .questions-div .question-container {
	width: 100%;
	height: 76vh;
	overflow-y: scroll;
	padding: 0px 10% 0 10%;
}
/*==================================================_CODE_EDITOR_================================================*/
.shamounCE{
    position: fixed;
    top: 8.8%;
    height: 92.4vh;
    width: 79%;
}