* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	background-color: rgb(228, 222, 222);
	width: 100%;
}

.question {
	border: 3px solid black;
	position: relative;
	padding: 3.5rem 3.5rem 0.5rem;
	border-radius: 4rem;
	width: 30rem;
	text-align: center;
	margin: 0 auto 1rem;
	background-color: rgb(250, 249, 249);
}

.category {
	position: absolute;
	top: 0.5rem;
	left: 3rem;
	background-color: green;
	padding: 0.2rem 1rem;
	border-radius: 6rem;
}

.difficulty {
	position: absolute;
	top: 0.5rem;
	left: 10rem;
	background-color: green;
	padding: 0.2rem 1rem;
	border-radius: 6rem;
}

.answer {
	margin-top: 1rem;
}
