.tableContainer {
	background-image: url('https://cms-assets.themuse.com/media/lead/_1200x630_crop_center-center_82_none/38dbcd07-a729-411e-b008-9f6dc58cd967.jpg?mtime=1586984602');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	padding: 5% 0 0 0;
}
.tableContainer a {
	font-size: 1.1rem;
	text-align: center;
	display: block;
	cursor: pointer;
	color: rgb(255, 255, 255) !important;
	text-decoration: underline !important;
}

.tableContainer a:hover {
	transition: all 0.3 ease-in-out;
	color: black !important;
}

.entranceTable {
	display: flex;
	flex-direction: column;
	width: 30%;
	margin: 0 auto 0 auto;
	margin-top: 4%;
	box-shadow: rgb(153 188 196) 0px 0px 3px 2px;
    background-color: rgba(10, 103, 117, 0.75);
	border-radius: 5px;
	color: rgb(255, 255, 255);
	font-weight: bold;
}

.entranceTable label {
	text-align: center;
	font-size: 1.3rem;
	font-family: 'Times New Roman', Times, serif;
}

.entranceTable legend {
	font-size: 1.5rem;
	font-family: 'Times New Roman', Times, serif;
	text-align: center;
	margin-top: 4%;
	margin-bottom: 5%;
}

.entranceTable select {
	width: 80% !important;
	font-size: 1.1rem;
	margin: auto;
	margin-bottom: 3%;
}

.entranceTable button {
	width: 30% !important;
	margin: 5% auto 5% auto;
	background-color: #17a2b8;
    border-color: #17a2b8;
	padding: 1.5% 0 1.5% 0;
	border-radius: 10px;
	font-size: 1.1rem;
	border: 0;
}

.entranceTable button:hover {
	transition: all 0.3 ease-in-out;
	background-color: rgb(33, 153, 172);
	font-size: 1.1rem;
}
.entranceTable button:enabled {
	background-color: #17a2b8;
}

/*===================================== Have_Table =====================================*/

.haveTable {
	display: flex;
	flex-direction: column;
	width: 35%;
	margin: 8% auto 0 auto;
	box-shadow: rgb(153 188 196) 0px 0px 3px 2px;
    background-color: rgba(10, 103, 117, 0.75);
	border-radius: 5px;
	color: rgb(255, 255, 255);
	font-weight: bold;
}

.haveTable input {
	width: 80% !important;
	margin: 0 auto 5% auto;
	font-size: 1.1rem;
}

.haveTable label {
	margin: 3% 0 3% 0;
	font-size: 1.3rem;
	font-family: 'Times New Roman', Times, serif;
	text-align: center;
}

.haveTable button {
	width: 30% !important;
	margin: 5% auto 5% auto;
	background-color: #17a2b8;
    border-color: #17a2b8;
	padding: 1.5% 0 1.5% 0;
	border-radius: 10px;
	font-size: 1.1rem;
	border: 0;
}

.arrow:hover {
	transition: all 0.3 ease-in-out;
	color: black;
}
.haveTable button:hover{
	transition: all 0.3 ease-in-out;
	background-color: rgb(0, 0, 0);
}
.haveTable button:enabled{
	background-color: #17a2b8;
}